#board {
    padding: 3rem;
    text-align: center;
    margin: 1.5rem;
    border: 2px solid gray;
    background-image: url(lighthouse.jfif);
    height: 35em;
    width: 35em;
    background-size: cover;
    position: relative;
}

.row {
    margin: 0 auto;
    width: 350px;
}

h1 {
    font-family: cursive;
    text-align: center;
    color: peachpuff;
}

div.row > div {
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    background-color: lightpink;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 60px;
}

.square:hover{
    cursor: pointer;
}

.top{
    border-bottom: 2px solid black;
    border-top: 4px solid paleturquoise;
    border-top-style: groove;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom{
    border-top: 2px solid black;
    border-bottom: 4px solid paleturquoise;
    border-bottom-style: groove;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.left{
    border-right: 2px solid black;
    border-left: 4px solid paleturquoise;
    border-left-style: groove;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}

.right{
    border-left: 2px solid black;
    border-right: 4px solid paleturquoise;
    border-right-style: groove;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.center{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#refreshbtn {
    padding: 1em;
    position: relative;
    bottom: -31em;
    left: -17em;
    background-image: url(lights.jfif);
    color: turquoise;
    border: 2px solid darkslategray;
    border-radius: 10px;
    font-weight: bolder;
}

#refreshbtn:hover{
    cursor: pointer;
}